# :*:create documentation from script
# :de:Dokumentation aus Skriptfile generieren

# $Copyright (C) 2001 Erich Frühstück
# This file is part of EFEU.
# 
# EFEU is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# EFEU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with EFEU; see the file COPYING.
# If not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

desc = ":*:The following options and arguments 
are accepted from command |$!|:
:de:Folgende Optionen und Argumente werden vom Kommando |$!| akzeptiert:\n"
	:*:default description body
	:de:Vorgabe für Beschreibungsrumpf
LoadConfig = false
LoadHelp = true

v:name=var | :setpar {}
	:*:set parameter <name> to <value>.
	:de:Parameter <name> auf <value> setzen.
n | LoadHelp = false
	:*:Do not load help configuration file.
	:de:Standardhilfeoptionen nicht laden.
c | LoadConfig = true
	:*:load configuration file.
	:de:Konfigurationsdatei laden.
s:src | :setsrc {}
	:*:source file with command Syntax.
	:de:Sourcefile mit Kommandosyntax.
:script |
	:*:script file
	:de:Eingabefile
::"<=|--help|[|=|<type>]=>" |
	:*:print usage of script <script>.
	:de:gibt die Beschreibung für das Script <script> aus.
.version.fmt = "@ident\n\n@version\n\n@copyright\n"
::"<=|--version|=>" |
	:*:show version information.
	:de:gibt die Versionsnummer des Kommandos aus.
