#:*:	show/change time stamp of compressd file
#:de:	Abfragen/Ändern des Zeitstempels komprimierter Dateien
#
# $Copyright (C) 2004 Erich Frühstück
# A-3423 St.Andrä/Wördern, Wildenhaggasse 38
# 
# EFEU is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# EFEU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with EFEU; see the file COPYING.
# If not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

SyncStamp = false
ClearStamp = false
ListStamp = false
AllFiles = false
NotBest = false
Touch = false
NoStamp = false

l | ListStamp = true
	:*:lists modification time and time stamp for every file.
	:de:gibt für jede Datei Modifikationszeit und Zeitstempel aus.
t | Touch = true
	:*:sets the modification time of file to the time stamp.
	:de:setzt die Modifikationszeit der Datei auf den Zeitstempel.
s | SyncStamp = true
	:*:sets the time stamp to the modification time of file.
	:de:setzt den Zeitstempel auf die Modifikationszeit der Datei.
c | ClearStamp = true
	:*:clears time stamp.
	:de:löscht den Zeitstempel.
a | AllFiles = true
	:*:list also files without original name or time stamp
	:de:listet auch Dateien ohne Originalnamen und Zeitstempel auf.
x | NoStamp = true
	:*:list files without time stamp.
	:de:Daten ohne Zeitstempel auflisten.
9 | NotBest = true
	:*:list files without maximal compression mode.
	:de:listet Dateien ohne maximaler Kompression auf.
+file(s) |
	:*:list of files to process.
	:de:Liste der Dateien zum verarbeiten.
