/*
Konfigurationsfile für dir2make-Unterbibliotheken

$Copyright (C) 1999 Erich Frühstück
This file is part of EFEU.

This library is free software; you can redistribute it and/or
modify it under the terms of the GNU Library General Public
License as published by the Free Software Foundation; either
version 2 of the License, or (at your option) any later version.

This library is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty
of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
See the GNU Library General Public License for more details.

You should have received a copy of the GNU Library General Public
License along with this library; see the file COPYING.Library.
If not, write to the Free Software Foundation, Inc.,
59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.
*/

#ifndef	_d2m_cfg
#define	_d2m_cfg	1

#include <mkmf.cfg>

#define	SrcTop(src)	PathName($(SRC),src)
#define DirName(name)	Concat(name,.d)
#define SubMakefile(name)	PathName(Concat(name,.d),Makefile)

#define	SubTarget(name,target) \
@;target:: Concat3(name,.,target)@;@;Concat3(name,.,target)

#define	SubMakeRule(name,desc,src,predefs,create) @;\
usage:: @;\
@+@@printf "%-12s%s\n" name desc @;\
@;\
name: predefs DirName(name) SubMakefile(name) @;\
@+( cd DirName(name); make; ) @;\
@;\
SubTarget(name,all): DirName(name) SubMakefile(name) @;\
@+( cd DirName(name); make all; ) @;\
@;\
SubTarget(name,clean): DirName(name) SubMakefile(name) @;\
@+( cd DirName(name); make clean; ) @;\
@;\
DirName(name): SrcTop(src)@;\
@+mkdir -p $@@; touch $@ @;\
@;\
SubTarget(name,update) SubMakefile(name): DirName(name) @;\
@+( cd DirName(name); create SrcTop(src); ) @;\
@;

#define	SubMake(name,desc,src,flags,predefs) @;\
SubMakeRule(name,desc,src,predefs,$(DIR2MAKE) flags) @;\

usage::
	@printf "\nGenerierungsziele: all update clean name[.all|.update|.clean]\n\n"

#endif	/* d2m.cfg */
