# Programmbeispiel: Hello World

# $Copyright (C) 2001 Erich Frühstück
# A-3423 St.Andrä/Wördern, Südtirolergasse 17-21/5

Format = "%s"
	Formatierungsanweisung für den Ausgabetext.
Label = "Hallo Welt!"
	Ausgabetext.

q|-quote|Format = "\"%s\""
	Gibt den Ausgabetext unter Anführung aus.
f:fmt|-format:fmt|Format
	Setzt das Ausgabeformat, die Vorgabe ist |{Format}|.
::arg|Label
	Bestimmt den Ausgabetext, die Vorgabe ist <"{Label}">.
