# :*:common options of EFEU-commands
# :de:Basisoptionen für EFEU-Kommandos

# Copyright (C) 2001 Erich Frühstück
# This file is part of EFEU.
# 
# This library is free software; you can redistribute it and/or
# modify it under the terms of the GNU Library General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# This library is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU Library General Public License for more details.
# 
# You should have received a copy of the GNU Library General Public
# License along with this library; see the file COPYING.Library.
# If not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

# :*:predefined resources
# :de:Vordefinierte Resourcen

Ident = ":*:command:de:Kommando:_: $!"
	:*:short description of command
	:de:Kurzbeschreibung des Kommandos
Version
	:*:command version
	:de:Versions/Revisionsnummer des Kommandos
Copyright
	:*:copyright information
	:de:Copyright-Informationen
Debug = note
	:*:debug level for messages
	:de:Debug-Level für Meldungsausgabe
GZIP = "-n1"
	:*:compression mode for gzip
	:de:Komprimierungsgrad für gzip

# :*:dummy entries for direct evaluated environments
# :de:Dummy-Einträge für direkt abgefragte Umgebungsvariablen

@APPLPATH|
	:*:path for configuration files.
	:de:definiert zusätzliche Verzeichnisse für Konfigurationsdateien.
@LANG|
	:*:locale information
	:de:bestimmt die Sprache für Meldungen und Hilfetexte.

:config help

# :*:info interface
# :de:Info - Schnittstelle

-info::entry|:info; :exit 0
	:*:show command information
	:de:listet verfügbare Informationseinträge des Kommandos auf.

# :*:debug-level
# :de:Debug-Modus

-debug::mode[.debug]|Debug
	:*:set debug level for command
	See \mref{LogConfig(3)} for details.
	:de:setzt den Protokollmodus für das Kommando.
	Vergleiche dazu \mref{LogConfig(3)}.

-verbose|Debug = .info
	:*:set debug level to |.info|.
	:de:setzt den Debug-Level auf |.info|.

