# :*:read tape file
# :de:Lesen eines Magnetbandes
#
# $Copyright (C) 1998, 2001 Erich Frühstück
# This file is part of EFEU.
# 
# EFEU is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# EFEU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with EFEU; see the file COPYING.
# If not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

varblock = false
	:*:variable blocking flag
	:de:Flag für variable Statzlänge.
recover = false
	:*:recover flag
	:de:Flag für Datenrestaurierung
compress = false
	:*:compression flag
	Flag für Datenkompression
blklim = 0
	:*:block limit
	:de:Blocklimit
blksize = 0x8000
	:*:block size
	:de:Blockgröße, Vorgabe {blksize}
Device
	:*:tape device
	:de:Bandgerät
Output
	:*:output file
	:de:Ausgabefile

v | varblock = true
	:*:variable blocking
	:de:Variable Blockung
f | varblock = false
	:*:fix blocking
	:de:Fixe Blockung (default)
z | compress = true
	:*:Compress output file
	:de:Komprimierung der Ausgabedatei
x | recover = true
	:*:recover mode
	:de:Rekonstruierung fehlerhafter Bänder
n:lim | blklim
	:*:maximal number of blocks to read, 0 = all
	:de:Maximalzahl der zu lesenden Blöcke, 0 = alle
b:size | blksize
	:*:block size
	:de:Maximale Blockgröße, Vorgabe {blksize}
s:size | splitsize
	:*:split size
	:de:Aufspaltgröße für Ausgabedatei, Vorgabe {splitsize}
:dev |
	:*:tape device
	:de:Bandlaufwerk
::file |
	:*:output file
	:de:Ausgabefile

err.1 = \
	:*:%s: wrong block size (%d != %d).\n\
	:de:%s: Falsche Blocklänge (%d != %d).\n
err.2 = \
	:*:%s: error in block size (%d, %d).\n\
	:de:%s: Fehler im Blocklängenfeld (%d, %d).\n
err.3 = \
	:*:%s: block size not defined.\n\
	:de:%s: Blockgröße ist nicht definiert.\n
err.4 = \
	:*:%s: malloc(%d) failed.\n\
	:de:%s: malloc(%d) fehlgeschlagen.\n
err.5 = \
	:*:file %s not readable\
	:de:%s: Eingabefile %s nicht lesbar
msg.1 = \
	:*:max. block size %d.\n\
	:de:Maximale Blockgröße %d.\n
msg.2 = \
	:*:%d+%d blocks read.\n\
	:de:%d+%d gelesene Blöcke.\n
msg.3 = \
	:*:%d bytes write.\n\
	:de:%d ausgegebene Zeichen.\n
msg.4 = \
	:*:%d defect blocks.\n\
	:de:%d Blöcke fehlerhaft.\n

