#!/bin/sh
# :*:rules for creating Makefile
# :de:Regeln zur Konstruktion des Makefiles
#
# $Copyright (C) 2001 Erich Frühstück
# This file is part of EFEU.
# 
# EFEU is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# EFEU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with EFEU; see the file COPYING.
# If not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

mf_target ()	# usage: mf_target name deps
{
	printf "\n%s:: %s\n" "$1" "$2"
}

mf_cmd ()	# usage: mf_cmd cmd
{
	printf "\t%s\n" "$1"
}

mf_rule ()	# usage: mf_rule name deps rule
{
	printf "\n%s: %s\n\t%s\n" "$1" "$2" "$3"
}

mf_all ()	# usage: mf_all name
{
	printf "\nall:: %s\n\nclean::\n\trm -f %s\n" "$1" "$1"
}

mf_var ()	# usage: mf_var name def
{
	printf "%s=\t%s\n" "$1" "$2"
}

mf_dir ()	# usage: mf_dir name path
{
	mf_var "$1" "$2"
	mf_all "\$($1)"
	mf_rule "\$($1)" " " "mkdir -p \$@"
}

mf_file ()	# usage: mf_file dir src
{
	src='$(SRC)/'$2
	name=`basename $2`
	tg="\$($1)/$name"
	mf_all "$tg"
	mf_rule "$tg" "$src" "cp $src \$@"
}

mf_link ()	# usage: mf_link tg src
{
	mf_all "$1"
	mf_rule "$1" "$2" "ln -fs $2 \$@"
}

mf_script ()	# usage: mf_script src
{
	src='$(SRC)/'$1
	name=`basename $1 .sh`
	tg="\$(BIN)/$name"
	mf_all "$tg"
	mf_rule "$tg" "$src" "efeuscript $src \$@"
}

mf_simple ()	# usage: mf_simple src
{
	src='$(SRC)/'$1
	name=`basename $1 .c`
	tg="\$(BIN)/$name"
	mf_all "$tg"
	mf_rule "$tg" "$src" "efeucc -g -o \$@ $src"
}

mf_hdr ()	# usage: mf_hdr dir src
{
	src='$(SRC)/'$2
	name=`basename $2`
	tg="\$($1)/$name"
	mf_all "$tg"
	mf_rule "$tg" "$src" \
		"efeuconfig file $src > \$@"
}
