# Grundkonzeption des Generierungsprozesses

all:: build/Makefile
	cd build; make all

purge::
	rm -rf build

clean:: purge
	rm -rf include lib bin doc

.PHONY: all purge clean

# Basismakefile für die Anwendung

build/Makefile:
	test -d build || mkdir -p build
	t=`pwd`; cd build; test -f Makefile || \
		sh $$t/shmkmf/shmkmf.sh -t $$t $$t/src/Config.make

