#:*:	determine c-flags for use of external libraries
#:de: 	Bestimmung von C-Flags zur Einbindung externer Bibliotheken
#
# $Copyright (C) 2002 Erich Frühstück
# This file is part of EFEU.
# 
# EFEU is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public
# License as published by the Free Software Foundation; either
# version 2 of the License, or (at your option) any later version.
# 
# EFEU is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty
# of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.
# See the GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public
# License along with EFEU; see the file COPYING.
# If not, write to the Free Software Foundation, Inc.,
# 59 Temple Place, Suite 330, Boston, MA 02111-1307, USA.

Version = "$Id: efeu-xlib.cnf,v 1.1 2008-04-09 03:45:24 ef Exp $"

m::name |
	:*:define macro name <name> with found flags.
	:de:Makro <name> mit gefundenen Flags initialisieren.
d::level |
	:*:max level of recursvive search.
	:de:Maximale Ebene bei rekursiver Suche.
I::path |
	:*:path to search header files (default: |/usr/include|).
	:de:Suchpfad für Kopfdateien, Vorgabe: |/usr/include|.
L::path |
	:*:path to search libraries (default: |/lib:/usr/lib|).
	:de:Suchpfad für Bibliotheken, Vorgabe: |/lib:/usr/lib|.
a |
	:*:try next search only if last search was successfull.
	:de:Nächste Suche nur durchführen, wenn letzte Suche erfolgreich war.
o |
	:*:try next search only if last search failed.
	:de:Nächste Suche nur durchführen, wenn letzte Suche fehlschlug.
l:lib |
	:*:search for libraray corresponding to the regular
	expression |^lib(|<lib>|)\.(a||so)$$|.
	:de:Suche nach der Bibliothek, die dem regulären
	Ausdruck |^lib(|<lib>|)\.(a||so)$$| entspricht.
::name |
	:*:search for header <name>, where <name> may contain
	directory parts as in |X11/X.h|.
	:de:Suche nach der Kopfdatei <name>, wobei <name>
	Pfadteile enthalten kann (z.B: |X11/X.h|)
